* {
    font-family: consolas;
    box-sizing: border-box;
}

body {
    /* background: rgb(2,0,36); */
    background: linear-gradient(360deg, #00467F, #A5CC82);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-grad {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%)
}

h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#main {
    /* background-color: black; */
    padding: 10px;
    width: 100%;
}

#contents {
    /* width: 50%;; */
    margin-left: 30%;
    position: relative;
}

input {
    padding: 1%;
    border: 3px solid black;
    font-size: 20px;
    width: 55%;
    outline: none;
}

#result {
    /* border: 1px solid black; */
    position: absolute;
    top: 72%;
    left: 2px;
    background-color: white;
    width: 54%;
    max-height: 300px;
    /* overflow: scroll; */
    overflow: hidden;
}

#result li, #result p {
    list-style: none;
    margin-left: -30px;
    padding: 2px;
    cursor: pointer;
    font-size: 20px;
    /* margin-left: 40%; */
}

#result p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: hidden;
    cursor: text;
}

#screens {
    width: 90%;
    margin: 0 5%;
}

.card {
    background-image: linear-gradient(#864BA2, #BF3A30);
    /* width: 13%; */
    color: white;
    padding: 1%;
    border-radius: 5%;
    margin: 1%;
    display: inline-block;
    overflow: hidden;
}

.cname {
    font-size: 100%;
    font-size: 30px;
    text-align: center;
    margin: 5px 0;
    width: 100%;
}

.dt {
    text-align: center;
    margin: 5px;
}

.wea {
    margin: 5px;
    font-size: 20px;
}

.two {
    width: 100%;
}

.left, .minmax {
    margin: 0;
}

.left {
    font-size: 70px;
}

.minmax {
    width: 40%;
    margin-bottom: 10px;
}

#cl {
    position: fixed;
    top: 2%;
    left: 2%;
    color: white;
    font-size: 30px;
    border: 2px solid #BF3A30;
    border-radius: 100%;
    padding: 10px 18px;
    text-align: center;
    background-color: #BF3A30;
    cursor: pointer;
    font-weight: bold;
}

#cl:active {
    transform: scale(0.8);
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}